.second__section {
  width: 35%;
  position: relative;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 2rem;
  gap: 2rem;
}

.nav__content li a {
  text-decoration: none;
  color: rgb(141, 139, 139);
  font-size: 0.7rem;
}

.setting__icon {
  font-size: 0.1rem;
}

.text_center {
  text-align: center;
  color: rgb(29, 155, 240);
  font-size: 0.9rem;
  letter-spacing: 3px;
}
.feed__content {
  margin-top: 2rem;
}

.profile__picture {
  position: absolute;
  left: -3rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 2rem;
}

.text__box {
  font-size: 1rem;
  border: none;
  margin-bottom: 3rem;
}

.feed__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  color: rgb(29, 155, 240);
}

.feed__icons svg {
  width: 1rem;
}
.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 0.6rem;
  opacity: 0;
  transition: opacity 0.15s;
}

.feed__icons :hover,
.tooltip {
  opacity: 1;
}
.post__btn {
  background-color: rgb(29, 155, 240);
  color: rgb(255, 255, 255);
  padding: 0.6rem 1.2rem;
  border: 0;
  border-radius: 2rem;
  position: absolute;
  right: 0.6rem;
  top: 7.28rem;
  font-size: 0.65rem;
  margin-bottom: 0.6rem;
  opacity: 0.7;
}

/* 2nd section content */
.tweet__header {
  margin-bottom: 5px;
}

.tweet__author {
  font-weight: bold;
}

.tweet {
  line-height: 2rem;
  margin-bottom: 2rem;
  color: rgb(44, 44, 44);
}

.tweet__image {
  border: 1px solid red;
}
/* feed content  */
.feed__content {
  position: relative;
}

.more__icon {
  position: absolute;
  top: 0;
  right: 0;
}
