.second__section {
  width: 35%;
  position: relative;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.nav__content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 2rem;
  gap: 2.1rem;
}

.nav__content li a {
  text-decoration: none;
  color: rgb(141, 139, 139);
  font-size: 0.8rem;
}

.setting__icon {
  width: 0.9rem;
  position: absolute;
  right: 0;
  top: 0.2rem;
}

/* show posts */

.text_center {
  text-align: center;
  color: rgb(29, 155, 240);
  font-size: 0.9rem;
  margin-left: 3rem;
}

/* main content */

.feed__content {
  margin-top: 2rem;
}

.profile__picture {
  position: absolute;
  left: -3rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 2rem;
}

.text__box {
  font-size: 1.1rem;
  border: none;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.feed__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  color: rgb(29, 155, 240);
}

.feed__icons svg {
  width: 1.25rem;
}
.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 0.6rem;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 999;
}

.feed__icons:hover,
.tooltip {
  opacity: 1;
}
.post__btn {
  background-color: rgb(29, 155, 240);
  color: rgb(255, 255, 255);
  padding: 0.4rem 1.1rem;
  border: 0;
  border-radius: 2rem;
  position: absolute;
  right: 0.9rem;
  top: 6.4rem;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  opacity: 0.7;
  cursor: pointer;
  z-index: 999;
}

/* 2nd section content */
.tweet__header {
  margin-bottom: 5px;
}

.tweet__author {
  font-weight: bold;
}

.tweet,
.tweet__content {
  font-size: 0.8rem;
  line-height: 1.2;
  margin-bottom: 0.8rem;
  color: rgb(68, 67, 67);
}

.tweet__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

/* tweet__content */
.tweet__content {
  width: 50vh;
}

.tweets {
  font-weight: bold;
  font-size: 0.84rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.tweet__content ul {
  list-style-type: none;
  color: rgb(90, 89, 89);
}

.tweet__content li {
  line-height: 1.2;
  font-size: 0.8rem;
}

.tweet__strong {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.tweet__content h5 {
  font-size: 0.88rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.tweet__content a,
.continue__anchor {
  color: rgb(29, 155, 240);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}

.tweet__content a:hover,
.continue__anchor:hover {
  text-decoration: underline;
}

.dhanian__image {
  border: 1px solid rgb(231, 227, 227);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.continue {
  margin: 0.2rem 0;
}

.continue__anchor:hover {
  text-decoration: underline;
}
.more__icon {
  position: absolute;
  top: 0;
  right: 0;
}

/* feed content  */
.feed__content {
  position: relative;
}

/* icons */

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  cursor: pointer;
  color: rgb(104, 103, 103);
}

.icons__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.8rem;
}

.icons__link img {
  width: 1.1rem;
}
