.third__section {
  width: 35%;
  position: relative;
  height: 75vh;
}

.search__icon {
  position: absolute;
  left: 0.6rem;
  top: 0.3rem;
}

.search__bar {
  height: 2rem;
  width: 15rem;
  border: none;
  border-radius: 1rem;
  font-size: 0.8rem;
  outline: none;
  margin-bottom: 1.2rem;
  padding-left: 3rem;
}
.search__bar::placeholder {
  text-align: left;
}

.search__bar:active,
.search__bar:focus {
  box-shadow: 0 1px 5px rgb(29, 155, 240);
  border: none;
}

.search__bar:focus {
  /* this added color to the input when you click on it */
  outline: 1px solid rgb(29, 155, 240);
}

/* subscribe section */

.subscribe__section h2 {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.subscribe__section p {
  color: rgb(104, 103, 103);
  width: 75%;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.subscribe__section button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2rem;
}

.subscribe__section button:hover {
  opacity: 0.8;
}

.user__section {
  position: relative;
}

.user__container {
  display: flex;
  align-items: center;
  margin: 0.65rem 0;
}

.host__picture {
  left: -3rem;
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  border-radius: 2rem;
}

.host__header {
  max-width: 20rem;
  margin-right: -5rem;
  display: flex;
  flex-direction: column;
}

.host__container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.3rem;
}
.host__name {
  font-size: 0.8rem;
  font-weight: bold;
}
.host__info {
  font-size: 0.8rem;
  color: rgb(104, 103, 103);
}

.host__para {
  width: 65%;
  font-weight: bold;
}
.host__imgs {
  display: flex;
  align-items: center;
  border: 3px solid rgb(88, 54, 175);
  padding: 0.5rem;
  height: 2rem;
  border-radius: 6rem;
}

.host__imgs img {
  height: 1.8rem;
  width: 1.8rem;
}
/* first image */
.host__imgs .ral {
  position: relative;
  z-index: 5;
}
/* 2nd image */
.host__imgs .rel {
  z-index: 4;
}

/* 2nd and 3rd image */
.host__imgs .mr {
  margin-left: -0.5rem;
  border: 1px solid white;
}

.btn {
  font-size: 0.8rem;
}

/* Trending */

.aside__trends {
  border-radius: 0.6rem;
  max-width: 15rem;
}

.aside__trends h4 {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 0.8rem;
  margin-top: 2rem;
}

.trending {
  position: relative;
  margin-bottom: 1rem;
}

.trending span {
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
}

.trends__1,
.trends__2 {
  font-size: 0.8rem;
  color: rgb(104, 103, 103);
}

.trends__1 {
  margin-bottom: 0.2rem;
}

.trends__2 {
  margin-top: 0.2rem;
}

.trending img {
  color: rgb(104, 103, 103);
  position: absolute;
  right: 0;
  top: 0;
}

.show__more {
  font-size: 1rem;
  color: rgb(29, 155, 240);
  cursor: pointer;
  margin-top: 1.3rem;
}

/* whot to follow */

.follow__container {
}

.follow__picture {
  left: -3rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  border-radius: 2rem;
}

.follow__name {
  display: flex;
  font-size: 1rem;
}

.follow__btn {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 3.5rem;
}
