.third__section {
  width: 35%;
  position: relative;
  /* background-color: salmon;
  color: white; */
  height: 75vh;
}

.search__icon {
  position: absolute;
  right: 20rem;
  top: 0.5rem;
}
.search__bar {
  height: 2rem;
  width: 14rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 0.9rem;
  outline: none;
  text-align: center;
}

.search__bar:active,
.search__bar:focus {
  box-shadow: 0 1px 5px rgb(29, 155, 240);
  border: none;
}

.search__bar:focus {
  /* this added color to the input when you click on it */
  outline: 1px solid rgb(29, 155, 240);
}
