.third__section {
  width: 35%;
  position: relative;
  height: 75vh;
}

.search__icon {
  position: absolute;
  left: 1rem;
  top: 0.3rem;
}

.search__bar {
  height: 2rem;
  width: 12rem;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem;
  font-size: 0.9rem;
  outline: none;
  text-align: center;
  margin-bottom: 1.2rem;
}

.search__bar:active,
.search__bar:focus {
  box-shadow: 0 1px 5px rgb(29, 155, 240);
  border: none;
}

.search__bar:focus {
  /* this added color to the input when you click on it */
  outline: 1px solid rgb(29, 155, 240);
}

/* subscribe section */

.subscribe__section {
}

.subscribe__section h2 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.subscribe__section p {
  color: rgb(104, 103, 103);
  width: 75%;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.subscribe__section button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2rem;
  padding: 0.7rem 1.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2rem;
}

.subscribe__section button:hover {
  opacity: 0.8;
}

.user__section {
  position: relative;
}

.user__picture {
  left: -3rem;
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  border-radius: 2rem;
}

.user__name {
  font-size: 0.7rem;
  font-weight: bold;
}
.user__info {
  font-size: 0.8rem;
  color: rgb(83, 100, 113);
}
.user__content {
  width: 50%;
  margin-top: 0.5rem;
  position: relative;
}
.user__content p {
  font-size: 1rem;
}

.host__imgs img {
  width: 1.5rem;
  position: absolute;
  top: 0;
  left: 10rem;
}
