.sidebar {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.sidebar__link {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  color: rgb(104, 103, 103);
  position: relative;
}

.notification__dot {
  background-color: rgb(29, 155, 240);
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  top: 0.7rem;
  right: 10.5rem;
  border-radius: 50%;
}

.sidebar__link:hover {
  background-color: rgb(232, 232, 232);
  border-radius: 2rem;
}

.sidebar__link img {
  width: 1.8rem;
  margin-right: 0.8rem;
}

.sidebar__link div {
  font-size: 1.2rem;
}

.sidebar__link .twitter {
  background-color: rgb(29, 155, 240);
  padding: 8px;
  border-radius: 50%;
}

.sidebar__link .twitter:hover {
  background-color: rgb(29, 155, 240);
}

.tweet__button {
  background-color: rgb(26, 141, 218);
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem 6rem;
  margin: 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.tweet__button:hover {
  background-color: rgb(29, 155, 240);
}
